:root {
    --color-primary: #fff;
    --color-secondary: #efefef;
    --color-lightGrey: #e9eef5;
    --color-lightWhite: #dcdde1;
    --color-black-blue: #212934;
    ---color-green: #59ab6e;
    --color-dark: #212529;
    --color-yellow: #ede861;
    --color-darkGrey: #bcbcbc;
    --color-lightGrey2: #cfd6e1;

}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1 rem

}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-dark);

}

.top-nav {
    background-color: var(--color-black-blue);
    height: 40px;
    display: flex;
    align-items: center;

}

.header {
    height: 100px;
    background-color: var(--color-primary);
    box-shadow: 0 .5rem 4rem rgba(0, 0, 0, 0.1);
    align-items: center;
    display: flex;
}

.carousel {
    background-color: var(--color-secondary);
}